.footer
    .footer__row
        .menu--footer
            a(href='works.html' class="menu__link") Мои работы
            a(href='about.html' class="menu__link") Обо мне
            a(href='blog.html' class="menu__link") Блог
            a(href='#' class="menu__link") Авторизация
        ul.socials__list.socials__list-footer
            li
                a(href="vk.com").socials__item.socials__item-vk
                    svg(role="img" title="vk_round")
                        use(xlink:href="./assets/img/sprite.svg#vk_round")
            li
                a(href="github.com").socials__item.socials__item-github
                    svg(role="img" title="github_round")
                        use(xlink:href="./assets/img/sprite.svg#github_round")
            li
                a(href="#").socials__item.socials__item-in
                    svg(role="img" title="in_round")
                        use(xlink:href="./assets/img/sprite.svg#in_round")
    .footer__row
        .footer__copyright © Бондаренко Ирина | 2017
