.footer
    .footer__row
        ul.menu.menu--footer
            li.menu__item
                a(href='works.html') Мои работы
            li.menu__item
                a(href='about.html') Обо мне
            li.menu__item
                a(href='blog.html') Блог
            li.menu__item
                a(href='#') Авторизация
        ul.social-icons.social-icons--footer
            li
                a.social-icons__item(href='#')
                    img(src='#')
            li
                a.social-icons__item(href='#')
                    img(src='#')
            li
                a.social-icons__item(href='#')
                    img(src='#')
    .footer__about
        | Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool.
    .footer__copyright © Бондаренко Ирина | создано с любовью в LoftSchool | 2017
