section.section_hero
    .hero__bg
        img(src='./assets/img/bg.png').hero__bg-img
    .hero__socials
        ul.socials__list
           li.socials__item
    .hamburger
        a(href="#").hamburger__link
        img(src="#")
    .user__container
        .user__pic
            img(src="./assets/img/photo.png").user__pic-container
        .user__name Бондаренко Ирина
        .user__desc Личный сайт веб разработчика


