section.section_hero
    .hero__bg
        img(src='./assets/img/bg.png').hero__bg-img
    .hero__top
        .hero__socials
            ul.socials__list
                li
                    a(href="vk.com").socials__item.socials__item-vk
                        svg(role="img" title="vk")
                            use(xlink:href="./assets/img/sprite.svg#vk")
                li
                    a(href="github.com").socials__item.socials__item-github
                        svg(role="img" title="github")
                            use(xlink:href="./assets/img/sprite.svg#github")
                li
                    a(href="#").socials__item.socials__item-in
                        svg(role="img" title="in")
                            use(xlink:href="./assets/img/sprite.svg#in")
        .top__menu
            a(href="#").hamburger__item
                svg(role="img" title="hamburger")
                    use(xlink:href="./assets/img/sprite.svg#hamburger")
    .hero__user
        .user__pic
            img(src="./assets/img/photo.png").user__pic-container
        .user__name Бондаренко Ирина
        .user__desc Личный сайт веб разработчика


