.footer{
  background: rgba(0, 0, 0, 0.6);
  height: 100px;
  position: relative;
  bottom: 0;
  left: 0;
}
.footer__row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 15px;
  border-bottom-color: #949799;
}
.menu--footer{
  display: flex;
  justify-content: flex-start;
}
.menu__link{
  padding: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  color: #f2f0e8;
}
.footer__copyright{
  color: #aaadaf;
}