.section_hero{
  height:600px;
  overflow: hidden;
  position: relative;
}
.hero__bg-img{
  position: absolute;
  top: 0;
  left: 50%;
  width: 100vmax;
  height: 100vmax;
  transform: translateX(-50%);
}
.hero__top{
  display: flex;
  justify-content: space-between;
  position: absolute;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
}

.hero__user{
  text-align: center;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.user__pic-container{
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 25px;
}
.user__name{
  margin-bottom: 10px;
  color: #474b57;
  font-size: 35px;
  padding: 0px 15px 10px;
}
.user__desc{
  color: #474b57;
  font-weight: 100;
}
