.section_hero{
  height:600px;
  overflow: hidden;
  position: relative;
}
.hero__bg-img{
  position: absolute;
  top: 0;
  left: 50%;
  width: 100vmax;
  height: 100vmax;
  transform: translateX(-50%);
}
.hero__top{
  display: flex;
  justify-content: space-between;
  position: absolute;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
}
.hero__user{
  text-align: center;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.user__pic-container{
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 25px;
}
.user__name{
  color: #ffffff;
  font-size: 35px;
  padding: 0px 15px 10px;
}
.user__desc{
  color: #ffffff;
  font-weight: 100;
}
.socials__item{
  margin-right: 25px;
  display: flex;
  align-items: flex-end;
}
.socials__item-vk svg{
  width: 30px;
  height: 30px;
}
.socials__item-github svg{
  width: 25px;
  height: 25px;
}
.socials__item-in svg{
  width: 25px;
  height: 25px;
}
.socials__item svg use{
  fill: #fff;
}
.socials__list{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.hamburger__item{
  margin-right: 25px;
  display: flex;
  align-items: flex-end;
}
.hamburger__item svg{
  width: 40px;
  height: 40px;
}
.hamburger__item svg use{
  fill: #fff;
}