.figure__triangle {
  display: flex;
  align-content: flex-end;
  position: relative;
  box-sizing: border-box;
  transform: translateY(-100%);
  margin-top: 4px;
}
.figure__triangle--left {
  width: 50%;
  left: 0;
  fill: #fff;
}
.figure__triangle--right {
  width: 50%;
  right: 0;
  fill: #fff;
}