.section__works{
  position: relative;
}
.section__works-content{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.tringle{
  width: 100%;
  box-sizing: border-box;
  margin:0;
  padding: 70px 0;
  background: #ffffff;
  text-align: right;
  flex-shrink: 0;
  flex-basis: 300px;
}