.section__works{
  position: relative;
}
.section__works-content{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.tringle{
  max-width: 100%;
  box-sizing: border-box;
  margin:0;
  background: #ffffff;
  text-align: right;
  flex-shrink: 0;
}
.section__title{
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  max-height: 200px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}
.section__title h2{
  display: block;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: bold;
}
.section.portfolio__site {
  max-width: 100%;

  & img {
    max-width: 100%;
  }
}
.what_about{
  overflow: hidden;
  max-height: 1200px;
}
.down_bg{
  position: absolute;
  width: 100%;
  display: block;
}
.what_about__reviews{
  columns: 2;
  position: relative;
  max-height: 400px;
}
.what_about__contact{
  margin: auto;
  padding: 25px;
  border-radius: 20px;
  position: relative;
  max-height: 450px;
  max-width: 400px;
  background: rgba(225, 225, 225, 0.8);
  box-sizing: border-box;
}
.contact_form h3{
  display: inline-block;
  text-align: center;
  left: 50%;
  padding: 0 110px;
}
