@font-face {
  font-family: 'Roboto';
  src: url('/source/fonts/Roboto/Roboto-Bold') format('ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url('/source/fonts/Roboto/Roboto-Regular') format('ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Bernier';
  src: url('/source/fonts/Bernier/BERNIER™ Regular') format('ttf');
  font-weight: normal;
}

