extends ../_template

block content
    .section_welcome
        .hero__bg
            img(src='./assets/img/bg.png').hero__bg-img
        .hero__auth
            a.auth_button Авторизоваться
        .user.welcome
            .user__pic
                img(src='./assets/img/photo.png').user__pic-container
            .user__name Бондаренко Ирина
            .user__desc Личный сайт веб разработчика
            .hero__socials-welcome
                ul.socials__list
                    li
                        a(href="vk.com").socials__item.socials__item-welcome.socials__item-vk
                            svg(role="img" title="vk")
                                use(xlink:href="./assets/img/sprite.svg#vk")
                    li
                        a(href="github.com").socials__item.socials__item-welcome.socials__item-github
                            svg(role="img" title="github")
                                use(xlink:href="./assets/img/sprite.svg#github")
                    li
                        a(href="#").socials__item.socials__item-welcome.socials__item-in
                            svg(role="img" title="in")
                                use(xlink:href="./assets/img/sprite.svg#in")
            .welcome__buttons
                a(href="./works.html" class="welcome__buttons-item") Мои работы
                a(href="./about.html" class="welcome__buttons-item") Обо мне
                a(href="./blog.html" class="welcome__buttons-item") Блог
    footer
        .copyright
            p Создано с любовью в LoftSchool | 2016
